---

# Exploratory Data Analysis

In this .ipynb, we will analyze the data that we have currently and analyze it to understand our data better and create a model suited for the usage.

---

## Importing Modules

In [1]:
import pandas as pd

## Importing Dataset

In [2]:
data = pd.read_csv("dataset\P2_FinPro_Final_Record.csv")

In [3]:
data.head(10)

,id,gender,car,realty,child_number,income,occupation,education,marital_status,house_type,...,mobile_phone,work_phone,phone,email,family_size,months_balance,status,begin_month,credit_approval,target
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,0,C,-15,No,1
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-1,C,-15,No,1
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-2,C,-15,No,1
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-3,C,-15,No,1
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-4,C,-15,No,1
5,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-5,C,-15,No,1
6,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-6,C,-15,No,1
7,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-7,C,-15,No,1
8,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-8,C,-15,No,1
9,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,2.0,-9,C,-15,No,1

In [4]:
print(data.columns)

Index(['id', 'gender', 'car', 'realty', 'child_number', 'income', 'occupation',
       'education', 'marital_status', 'house_type', 'days_birth',
       'days_employed', 'mobile_phone', 'work_phone', 'phone', 'email',
       'family_size', 'months_balance', 'status', 'begin_month',
       'credit_approval', 'target'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777715 entries, 0 to 777714
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               777715 non-null  int64
 1   gender           777715 non-null  object
 2   car              777715 non-null  object
 3   realty           777715 non-null  object
 4   child_number     777715 non-null  int64
 5   income           777715 non-null  float64
 6   occupation       777715 non-null  object
 7   education        777715 non-null  object
 8   marital_status   777715 non-null  object
 9   house_type       777715 non-null  object
 10  days_birth       777715 non-null  int64
 11  days_employed    777715 non-null  int64
 12  mobile_phone     777715 non-null  int64
 13  work_phone       777715 non-null  int64
 14  phone            777715 non-null  int64
 15  email            777715 non-null  int64
 16  family_size      777715 non-null  float64
 17  months_balance   777715 non-null  int64
 18  status           777715 non-null  object
 19  begin_month      777715 non-null  int64
 20  credit_approval  777715 non-null  object
 21  target           777715 non-null  int64
dtypes: float64(2), int64(11), object(9)
memory usage: 130.5+ MB