In [1]:
import pandas as pd
import pickle
from inference import FeatureEngineer
import numpy as np
import random

In [2]:
with open('model_terbaik.pkl', 'rb') as f:
    model = pickle.load(f)

In [3]:
# Load reference dataset (untuk median income jika diperlukan)
reference_df = pd.read_csv('dataset/P2_FinPro_Final_Record.csv')
median_income = reference_df['income'].median()

In [8]:
new_applicant = {
"id": random.randint(5000000, 6000000),
"gender": random.choice(["M", "F"]),
"car": random.choice(["Y", "N"]),
"realty": random.choice(["Y", "N"]),
"child_number": random.randint(0, 3),
"income": round(random.uniform(100000, 1000000), 2),
"occupation": random.choice(["Working", "Commercial associate", "Pensioner", "State servant", "Student"]),
"education": random.choice(["Lower secondary", "Secondary / secondary special", "Incomplete higher", "Higher education", "Academic degree"]),
"marital_status": random.choice(["Single / not married", "Married", "Civil marriage", "Separated", "Widow"]),
"house_type": random.choice(["With parents", "Municipal apartment", "Rented apartment", "Office apartment", "House / apartment", "Co-op apartment"]),
"days_birth": -random.randint(7000, 25000),  # Approx age 20â€“70
"days_employed": -random.randint(0, 20000),
"mobile_phone": 1,
"work_phone": random.choice([0, 1]),
"phone": random.choice([0, 1]),
"email": random.choice([0, 1]),
"family_size": random.choice([1.0, 2.0, 3.0, 4.0, 5.0]),
"months_balance": 0,
"status": random.choice(["C", "0", "1", "2", "3", "4", "5"]),
"begin_month": -random.randint(0, 100)
}

new_applicant = pd.DataFrame([new_applicant])
new_applicant

,id,gender,car,realty,child_number,income,occupation,education,marital_status,house_type,days_birth,days_employed,mobile_phone,work_phone,phone,email,family_size,months_balance,status,begin_month
0,5927707,F,N,Y,1,105231.13,Working,Lower secondary,Widow,Office apartment,-11602,-13635,1,1,1,1,5.0,0,2,-44

In [9]:
engineer = FeatureEngineer(median_income=median_income)
processed_input = engineer.transform(new_applicant)
processed_input

,months_balance,email,car,phone,realty,occupation,gender,work_phone,age,years_employed,education_income_ratio,income_per_person,low_income,financial_dependence_ratio,house_income_ratio
0,0,1,N,1,Y,Working,F,1,31,37,0.00001,21046.226,1,2.5,0.000029

In [10]:
prediction = model.predict(processed_input)
result = 'Rejected' if prediction[0] == 1 else 'Approved'
probability = model.predict_proba(processed_input)
print(result)
if result == 'Approved':
    print('Probability Approved:', round(probability[0][0], 4))
if result == 'Rejected':
    print('Probability Rejected:', round(probability[0][1], 4))

Approved
Probability Approved: 0.6286