In [103]:
import pandas as pd
import pickle
from inference import FeatureEngineer
import numpy as np
import random

In [104]:
with open('model_lgbm.pkl', 'rb') as f:
    model = pickle.load(f)

In [105]:
# Load reference dataset (untuk median income jika diperlukan)
reference_df = pd.read_csv('dataset/P2_FinPro_Final_Record.csv')
median_income = reference_df['income'].median()

In [106]:
new_applicant = {
"id": random.randint(5000000, 6000000),
"gender": random.choice(["M", "F"]),
"car": random.choice(["Y", "N"]),
"realty": random.choice(["Y", "N"]),
"child_number": random.randint(0, 3),
"income": round(random.uniform(50000, 200000), 2),
"occupation": random.choice(["Working", "Commercial associate", "Pensioner", "State servant", "Student"]),
"education": random.choice(["Lower secondary", "Secondary / secondary special", "Incomplete higher", "Higher education", "Academic degree"]),
"marital_status": random.choice(["Single / not married", "Married", "Civil marriage", "Separated", "Widow"]),
"house_type": random.choice(["With parents", "Municipal apartment", "Rented apartment", "Office apartment", "House / apartment", "Co-op apartment"]),
"days_birth": -random.randint(7000, 25000),  # Approx age 20â€“70
"days_employed": -random.randint(0, 20000),
"mobile_phone": 1,
"work_phone": random.choice([0, 1]),
"phone": random.choice([0, 1]),
"email": random.choice([0, 1]),
"family_size": random.choice([1.0, 2.0, 3.0, 4.0, 5.0]),
"months_balance": -random.randint(0, 90),
# "status": random.choice(["C", "0", "1", "2", "3", "4", "5"]),
}

new_applicant = pd.DataFrame([new_applicant])
new_applicant

,id,gender,car,realty,child_number,income,occupation,education,marital_status,house_type,days_birth,days_employed,mobile_phone,work_phone,phone,email,family_size,months_balance
0,5553182,F,N,Y,1,75539.35,Pensioner,Incomplete higher,Single / not married,Co-op apartment,-19798,-5252,1,0,0,1,1.0,-68

In [107]:
engineer = FeatureEngineer(median_income=median_income)
processed_input = engineer.transform(new_applicant)
processed_input

,months_balance,email,car,phone,realty,occupation,gender,work_phone,age,years_employed,education_income_ratio,income_per_person,low_income,financial_dependence_ratio,house_income_ratio
0,-68,1,N,0,Y,Pensioner,F,0,54,14,0.00004,75539.35,1,0.5,0.000066

In [108]:
prediction = model.predict(processed_input)
result = 'NPL' if prediction[0] == 1 else 'Good Credit'
probability = model.predict_proba(processed_input)
print(result)
if result == 'Good Credit':
    print('Good Credit:', round(probability[0][0], 4))
if result == 'NPL':
    print('Probability NPL:', round(probability[0][1], 4))

NPL
Probability NPL: 0.9988

/opt/anaconda3/envs/h8_env/lib/python3.9/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LGBMClassifier was fitted with feature names
  warnings.warn(
/opt/anaconda3/envs/h8_env/lib/python3.9/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LGBMClassifier was fitted with feature names
  warnings.warn(